<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
       <context:component-scan base-package="demo.controllers" />


       <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
              <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
              <property name="prefix" value="/WEB-INF/" />
              <property name="suffix" value=".jsp" />
       </bean>


       <bean id="post" class="demo.Page.RegularPost">
       </bean>


       <bean id="postStorage" class="demo.services.PostsInRam">
       </bean>

       <bean id="users" class="demo.Users.UsersInRam">
       </bean>

       <bean id="user" class="demo.Users.BasicUser">
       </bean>
       <!--
              <bean id="rightuppoint" class="ga.hedg.springapp.mvc.Point">
                     <property userName="x" value= "5" />
                     <property userName="y" value= "7" />
              </bean>

              <bean id="rectangle" class="ga.hedg.springapp.mvc.Rectangle">
                     <constructor-arg index="0" type="double" userName="width" value="12" />
                     <constructor-arg index="1" type="double" userName="height" value="10" />
                     <property userName="width" value= "3" />
                     <property userName="height" value= "1" />
              </bean>

       -->

       <mvc:resources mapping="/res/**" location="/res/" />
       <mvc:resources mapping="/images/**" location="/res/themes/manuscript/images/" />
       <mvc:annotation-driven />
</beans>